<nav class="navbar">
    <div class="nav-container">
        <a href="{{ '/' | relative_url }}" class="logo">
            {{ site.title | split: '-' | first | strip }}
        </a>
        
<div class="nav-links">
   {% for link in site.nav_links %}
<a href="{{ link.url | relative_url }}">
    <i class="{{ link.icon }}"></i> {{ link.title }}
</a>
{% endfor %}
</div>
        
        <button class="theme-toggle" id="themeToggle" onclick="toggleTheme()">
            <i class="fas fa-moon"></i>
        </button>
        <button class="menu-toggle" id="menuToggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>
